.profile-menu {
    margin: 0;
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}
 
.no-click {
    pointer-events: none
}

.business-card {
    padding-bottom: 15px;
    cursor: pointer;
    &:hover {
        background-color: grey;
    }
}
